
* {
 
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}
body{
  margin: 0;
  padding:0;
  width:100%;
  height:100%;
}
/*div background futen fotot per slide show ne prapavije  */
.background {

  background-image: url(foto1.jpg )   ;
  background-color: #ebedcf;
  background-position: center;
  background-repeat:no-repeat;
  height:100vh;
  background-size:cover;
  animation: slide 15s infinite;
  animation-timing-function: ease-in-out

}
/*div all-background prapavija per te gjitha faqet  */
.all-backgound{
  background-color: #e8dbc1;
  height:100vh;
}

/*header i faqes Home pozicioni qe me ndejt vetem lart tere kohen */
.home-header {
  position: sticky;
  top: 0;
  z-index:10;
 
 /* background-color:#ebedcf;*/
}

/* renditja e linqeve te home header qe me dal ne anen e djathte te renditura mire  */
.home-header a {
  
  float: right;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  color: #ebedcf;
  text-align :center;
  padding: 14px 16px;
  text-decoration: none;
}

/*kur vendoset kursori te linqet -hover e linqeve te home header  */
.home-header a:hover {
  background-color:#ebedcf;
  opacity:0.4;
  color:#5b5251;


}
/*div dropdown per listen tek discover  */
.home-dropdown {
  float: right;
  overflow: hidden;
 
}
/*  */
.home-dropdown .home-dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ebedcf;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* */
.home-header a:hover, .home-dropdown:hover .home-dropbtn {
  background-color:#ebedcf;
  opacity:0.4;
  color:#5b5251;
}
/*  */
.home-dropdown-content {
  display: none;
  position: absolute;
  background-color:#ebedcf;
  opacity:0.4;
  color:#5b5251;
  min-width: 127.9px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/*linqet e tjera qe bejne pjese tek discover dropdown menu  */
.home-dropdown-content a {
  float: none;
  color: #5b5251;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/*kur ben hover mbi linqet tek discover dropdown menu */
.home-dropdown-content a:hover {
  background-color: #ebedcf34;
  opacity:0.4;
  color: #5b5251;
}
/*me u paraqit ne bllok  */
.home-dropdown:hover .home-dropdown-content {
  display: block;
}

/*header per krejt faqet e tjera  */
.header {
  position: sticky;
  top: 0;
  z-index:10;
  width: 100%;
  height:46px;
  color: #5b5251;
  background-color:#ebedcf;
}
/* renditja e linqeve te  header qe me dal ne anen e djathte te renditura mire  */
.header a {
  
  float: right;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  color: #788571;
  text-align :center;
  padding: 14px 16px;
  text-decoration: none;
}

/*kur vendoset kursori te linqet -hover e linqeve te header  */
.header a:hover {
  background-color:#ccae91;
  opacity:0.4;
  color:#5b5251;


}
/* */
.dropdown {
  float: right;
  overflow: hidden;
 
}
/*  */
.dropdown .dropbtn {
  font-size:16px;
  border: none;
  outline: none;
  color: #788571;
  padding: 14px 16px;
  background-color:inherit ;
  font-family: inherit;
  margin: 0;
}
/* */
.header a:hover, .dropdown:hover .dropbtn {
  background-color:#ccae91;
  opacity:0.4;
  color:#5b5251;
}
/*  */
.dropdown-content {
  display: none;
  position: absolute;
  min-width:95px; /*108.5px*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #ebedcf;
}
/* */
.dropdown-content a {
  float: none;
  color: #788571;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/*kur ben hover mbi linqet tek discover dropdown menu */
.dropdown-content a:hover {
  background-color: #ccae91;
  opacity:0.4;
  color: #5b5251;
}
/* */
.dropdown:hover .dropdown-content {
  display: block;
}





/* kontenti qe ndodhet ne pjesen e main tek faqja home  */
.home-main-content {
 /* background-color: #ebedcf;*/
  overflow:hidden;
  position: absolute;
  padding: 10px; 
  width:100%;
  height:100%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  text-align:center;
  color:#ebedcf;
  font-size:60px;
  letter-spacing:16px;
}
/* kontenti qe ndodhet ne pjesen e main tek faqja about us  */
/*.aboutUs-main-content{

}*/
/* Pjesa e about us*/
/* Pjesa e about us*/
.aboutUs-container{
  background: url(aboutUs.jpg);
  background-repeat:no-repeat;
  background-size:50%;
  background-position: center;
  overflow:hidden;
  letter-spacing:1px;
  padding:160px 0;
  width:65%;
  height:700px;
  float:left;
  padding:20px;
  

}
.aboutUs-inner-container{
  width:50%;
  float:right;

  background-color:#e8f4d5 ;
  padding:150px;
 
}
.aboutUs-inner-container h1{
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.text{
  font-size: 12px;
  color:#617087 ;
  line-height:30px;
  text-align: justify;
  margin-bottom: 40px;

}
/* Style inputs */


.contactUs-container{
  width:30%;
  float:right;
  padding:20px;
}
.contactUs-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
input[type=text], textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*input[type=submit] {
  background-color: #7c6957;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}


/* Stilimi i container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* rregullimi i pjeses se footerit  */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:70px;
 
  color: #5b5251;
  background-color:#ebedcf;
  padding: 10px;
  display:inline-block;
  place-items: center;
  display:grid;
  
}
/* paragrafi ne footer */
footer p{
  font-size:10px;
}
/* div i krijuar per te vendosur icons e social media  */
.social-media {
  display: inline-flex;
}
.social-media a:visited {
  color:  #5b5251;
}
/* rregullimi i ikonave te marrura nga libraria fontawesome  */
.social-media .icon{
  margin: 0 15px;
  cursor:pointer;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
/*   */
.social-media .icon span {
  position: relative;
  height: 30px;
  width:30px;
  display: block;
  background: #ccae91;
  text-align:center;
  border-radius: 60%;
  box-shadow:0 10px 10px rgba(0,0,0,0.1);
  z-index:2;
}
/*  */
.social-media .icon span i{
  font-size:15px;
  line-height:30px;
}
/*  */
.social-media .icon:hover span i{
  color:#ebedcf;
}
/*  */
.social-media .icon  .tooltip{
  position: absolute;
  top:0px;
  background:#9dbe76;
  color:#ebedcf;
  font-size:13px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity:0;
  pointer-events:none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
/*  */
.social-media .icon:hover  .tooltip{
  top:-60px;
  opacity:1;
  pointer-events:auto;
}
/*   */
.social-media .icon  .tooltip:before{
  position: absolute;
  content:"";
  height:15px;
  width:15px;
  background:#9dbe76;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}
/* */
.social-media .icon:hover span,
.social-media .icon:hover  .tooltip{
  text-shadow: 0px-1px 0px rgba(0,0,0,0.4);
}
/*  */
.social-media .facebook:hover span,
.social-media .facebook:hover  .tooltip
.social-media .facebook  .tooltip:before{
  background: #617087;
}
/*  */
.social-media .twitter:hover span,
.social-media .twitter:hover  .tooltip
.social-media .twitter  .tooltip:before{
  background: #9c9da2;
}
/* */
.social-media .instagram:hover span,
.social-media .instagram:hover  .tooltip
.social-media .instagram  .tooltip:before{
  background: #788571;
}
/* funksioni slide per me i vendos fotot ne slideshow  */
@keyframes slide {
  0% {
    background-image: url(foto1.jpg )  ;
  }
  33% {
    background-image: url( foto2.jpg );
  }
  67% {
    background-image: url(foto4.jpg )  ;
  }
  
}
/*BOOKS*/
.books-main-content{
  text-align: center;
  background-color: #e8dbc1;
}

.books-main-content h2{
  padding-top: 30px;
}

/*div ku vendosen cards ne menyre horizontale*/
.scrolling-wrapper{
       width: 80%;
   margin:0 auto;
       display: flex;
       background-color: #e8dbc1;
       padding: 3rem;
   }

/* */
.card {
       min-width: 300px;
       height: 380px;
       border-radius: 16px;
       background-color: #ebedcf;
       box-shadow: -1rem 0 3rem #daa641;
       display: flex;
       flex-direction: column;
       padding: 1.5rem;
       transition: 0.2s;
   }

/*Per mos-overflow nga cards afer*/
.card:not(:first-child) {
       margin-left: -130px;
}

.card:hover {
       transform: translateY(-1rem);
   }
 
.card:hover~.card{
   transform: translateX(130px);
}

.books-main-content img {
 padding: 1px;
 width: 130px;
 height: 200px
 
}

.article-title a{
 color: black;
 text-decoration: none;
}

.article-title a:hover{
 color: #6D0062;
 text-decoration: none;
}

/*butoni see all*/
#see-all{
 border-radius: 20px;
 border: 1px solid #F7DC6F;
 background-color: #F7DC6F;
 color: #FFFFFF;
 font-size: 12px;
 font-weight: bold;
 padding: 12px 45px;
 letter-spacing: 1px;
 text-transform: uppercase;
 transition: transform 80ms ease-in;
}

#see-all:active {
 transform: scale(0.95);
}

#see-all:focus {
 outline: none;
}

/*LOGIN*/
.login-body{
 background-color: #e8dbc1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: 'Montserrat', sans-serif;
 height: 100vh;
 margin: -20px 0 50px;
 width: 100%;
}

.getInvolved-h1{
 color: #F7DC6F;
 font-weight: bold;
 margin: 0;
 font-family: 'Montserrat', sans-serif;
}

.getInvolved-h2{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 color: black;
}

.getInvolved-p{
 font-size: 14px;
 font-weight: 100;
 line-height: 20px;
 letter-spacing: 0.5px;
 margin: 20px 0 30px;
 font-family: 'Montserrat', sans-serif;
}

.getInvolved-span{
 font-size: 12px;
 font-family: 'Montserrat', sans-serif;
}

.login-body a{
 color: #333;
 font-size: 14px;
 text-decoration: none;
 margin: 15px 0;
 font-family: 'Montserrat', sans-serif;
} 

button.gI-button{
 border-radius: 20px;
 border: 1px solid #4E7769;
  border: 1px solid #F7DC6F;
 background-color: #F7DC6F;
 color: #FFFFFF;
 font-size: 12px;
 font-weight: bold;
 padding: 12px 45px;
 letter-spacing: 1px;
 text-transform: uppercase;
 transition: transform 80ms ease-in;
 
} 

button:active {
 transform: scale(0.95);
}

button:focus {
 outline: none;
}

button.ghost {
 border-radius: 20px;
 background-color: transparent;
 border-color: #FFFFFF;
 color: #FFFFFF;
 font-size: 12px;
 font-weight: bold;
 padding: 12px 45px;
 letter-spacing: 1px;
 text-transform: uppercase;
 transition: transform 80ms ease-in;
}

.gI-form{
 background-color: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 50px;
 height: 100%;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}

/*.gI-input{
 background-color: #eee;
 border: none;
 padding: 12px 15px;
 margin: 8px 0;
 width: 100%;
 font-family: 'Montserrat', sans-serif;
}*/

.gI-input{
 background-color: #eee;
 border: none;
 padding: 12px;
 margin: 6px 0 16px;
 width: 100%;
 font-family: 'Montserrat', sans-serif;
}

#password1.gI-input,#password.gI-input,#email.gI-input{
 height: 42px;
 width: 300px;
 border: 1px solid #ccc;
}
.getInvolved-container{
 background-color: #fff;
 border-radius: 10px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
     0 10px 10px rgba(0,0,0,0.22);
 position: relative;
 overflow: hidden;
 width: 768px;
 max-width: 100%;
 min-height: 440px;
}

.form-container {
 position: absolute;
 top: 0;
 height: 100%;
 transition: all 0.6s ease-in-out;
}

.sign-in-container {
 left: 0;
 width: 50%;
 z-index: 2;
}

.getInvolved-container.right-panel-active .sign-in-container {
 transform: translateX(100%);
}

.sign-up-container {
 left: 0;
 width: 50%;
 opacity: 0;
 z-index: 1;
}

.getInvolved-container.right-panel-active .sign-up-container {
 transform: translateX(100%);
 opacity: 1;
 z-index: 5;
 animation: show 0.6s;
}

@keyframes show {
 0%, 49.99% {
   opacity: 0;
   z-index: 1;
 }
 
 50%, 100% {
   opacity: 1;
   z-index: 5;
 }
}

/*paraqitja e kontentit te caktuar ne nje moment te caktuar*/
.overlay-container {
 position: absolute;
 top: 0;
 left: 50%;
 width: 50%;
 height: 100%;
 overflow: hidden;
 transition: transform 0.6s ease-in-out;
 z-index: 100;
}

/*gjate tranzicionit*/
.getInvolved-container.right-panel-active .overlay-container{
 transform: translateX(-100%);
}

.overlay {
 background-color: #4E7769;
 background-image: url(foto1.jpg )   ;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 0 0;
 color: #FFFFFF;
 position: relative;
 left: -100%;
 height: 100%;
 width: 200%;
   transform: translateX(0);
 transition: transform 0.6s ease-in-out;
 font-family: 'Montserrat', sans-serif;
}

.getInvolved-container.right-panel-active .overlay {
   transform: translateX(50%);
}

/*paneli qe e mban kontentin qe e shohim ne monitor*/
.overlay-panel {
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 40px;
 text-align: center;
 top: 0;
 height: 100%;
 width: 50%;
 transform: translateX(0);
 transition: transform 0.6s ease-in-out;
 font-family: 'Montserrat', sans-serif;
}

.overlay-left {
 transform: translateX(-20%);
}

.getInvolved-container.right-panel-active .overlay-left {
 transform: translateX(0);
}

.overlay-right {
 right: 0;
 transform: translateX(0);
}

.getInvolved-container.right-panel-active .overlay-right {
 transform: translateX(20%);
}
/*20px*/
.social-container {
 margin: 10px 0;
}

.social-container a {
 border: 1px solid #DDDDDD;
 border-radius: 50%;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 margin: 0 5px;
 height: 40px;
 width: 40px;
}

/*Places*/
.places-main-content img{
	/*margin: 10px auto 20px;*/
    display: block;
	margin-left: auto;
	margin-right:auto;
}

.places-main-content .row {
  display: flex;
  margin: 20px;
}

.places-main-content .column {
  flex: 33.33%;
  padding: 25px;
}

@media only screen and (max-width: 1024px){

  .header,.home-header{
    height:70px;
    padding: 10px;
    font-size:20px;
  }

  .dropdown .dropbtn,.home-dropdown .home-dropbtn{
    font-size: 20px;
  }
  
  footer{
     height: 110px;
  }

  footer p{
    font-size: 15px;
  }
/*Rrethat ku ndodhen ikonat*/
  .social-media .icon span{
    height: 45px;
    width: 45px;
    margin: 5px;
  }
  /*Ikonat qe i trajtojme si i */
   .social-media .icon span i{
    font-size:25px;
    line-height:45px; /*distanca vertikale*/
  }

   /*GET INVOLVED*/
  /*qe mos te paraqitet opsioni scroll*/
  .login-body{
	position:fixed;
  }
  /*pozicionohet sipas 'prindit' gi-main-content ose login-body*/
  .getInvolved-h2{
	/*margin: 20px 30px 30px 0px;*/
    position: absolute;
    top: 100px;
    font-size: 40px;
  }
 
  .getInvolved-container{
    width: 690px;
  }
  
  /*PLACES*/
  .places-main-content img{
	margin: 35% auto; 
    display: flex;
  }
  
  .column {
    width: 100%;
  }

  /*HOME*/
  .home-main-content{
    margin: 200px 0px;
	position:fixed;
  }

}
 
/*Music page*/
.music-left-container {   
  float: left;
  width: 75%;
}

/* Right column */
.music-right-container {
  float: left;
  width: 25%;
  background-color: #e8dbc1;
  padding-left: 20px;
}

/* foto e kontentit */
.contentimg {
  background-color: #788571;
  width: 100%;
  padding: 20px;
}
/* Responsive, atehere kur screen eshte me i madh se 420 px me i stack nje mbi nje */
@media screen and (max-width: 420px) {
  .music-left-container , .music-right-container {   
    width: 100%;
    padding: 0;
  }
}






